$fabled: #cd9d00;
$townsfolk: #006ab1;
$outsider: #0097c7;
$minion: #c0373c;
$demon: #930a0c;
$traveler: #822aa8;
$townsfolk-light: #239ef0;
$outsider-light: #76c8e2;
$minion-light: #d85f63;
$demon-light: #d83538;
$traveler-light: #a742d2;

$hover-red: #ff5454;
